<div class="mainarea">
    <div class="headers">
        <h3>
            Raise a Complaint
        </h3>
    </div>
    <div class="forms" [formGroup]="issue">
        <p-dropdown  [options]="issues" formControlName="issueId" optionValue="issueId" optionLabel="issueName"></p-dropdown>
        <p-dropdown  [options]="severity" formControlName="severity" optionValue="id" optionLabel="level"></p-dropdown>
        <textarea [rows]="5" [cols]="30" formControlName="description" pInputTextarea [autoResize]="true"></textarea>
    </div>
    <button pButton (click)="addIssue()">Submit</button>
</div>









<!-- <label for="issues">Issue Type</label>
<select name="issues" id="issues">
    <option value="1">Display Fault</option>
    <option value="2">Battery Fault</option>
    <option value="3">Keyboard Fault</option>
    <option value="4">Charger Fault</option>
    <option value="5">Hang Issues</option>
    <option value="6">Others</option>
</select> -->