<div class="mainarea">
    <div class="row">
        <div class="col-6 left"></div>
        <div class="col-6 message">
            <div class="header">
                <h3>Sign in</h3>
                <p>to access Finex account</p>
            </div>
            <div class="forms">
                <label for="email">Email</label><br>
                <input type="email" placeholder="Email" name="email" id=""><br>
                
                <label for="password">Password</label><br>
                <input type="password" placeholder="Password" name="password" id=""><br>
               
                <h5><a href="">Forgot Password?</a></h5>

                <button type="button">SIGN IN</button>
                <h5><a href="">Sign Up</a></h5>
            </div>
        </div>
    </div>