@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.mainarea {
    .row {
        --bs-gutter-x: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', 'sans-serif';

        .left {
            height: 100vh;
            background-color: #EB5757;
        }

        .message {
            height: 100vh;

            .header {
                margin-left: 77px;

                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 29px;
                    color: #021F55;
                    margin-top: 147px;
                }

                p {
                    margin-top: 14px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #1B2228;
                }
            }

            .forms {
                margin-left: 77px;

                label {
                    font-size: 12px;
                    line-height: 15px;
                    color: #1B2228;
                }

                input {
                    display: flex;
                    justify-content: center;
                    width: 320px;
                    height: 38px;
                    border: 1px solid #E1E7EA;
                    border-radius: 3px;
                    padding: 9px 12px;
                    align-items: center;
                    font-size: 13px;
                    // line-height: 20px;
                    margin-bottom: 16px;
                }

                h5 {
                    margin-top: 12px;
                    a {
                        text-decoration: none;
                        font-size: 12px;
                        line-height: 20px;
                        color: #2F80ED;
                        cursor: pointer;
                    }
                }

                button {
                    margin-top: 29px;
                    color: #FFFFFF;
                    font-size: 13px;
                    line-height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #2D81F7;
                    border-radius: 4px;
                    width: 320px;
                    height: 32px;
                    border: none;
                }


                h6 {
                    margin-top: 24px;

                    a {
                    margin-left: 138px;
                        text-decoration: none;
                        font-size: 12px;
                        color: #2D81F7;
                        text-align: center;
                    }
                }
            }
        }
    }
}