<div class="mainarea">
    <div class="row">
        <div class="col-6 left"></div>
        <div class="col-6 message">
            <div class="header">
                <h3>Reset Your Password</h3>
                <p>to access Finex account</p>
            </div>
            <div class="forms">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password" id="password">

                <label for="cpassword">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" name="cpassword" id="cpassword">

                <button (click)="confirmPassword()" type="button">Confirm Password</button>
                <h6 (click)="login()">Back to Login Page</h6>
            </div>
        </div>
    </div>