.mainarea {
    .row {
        --bs-gutter-x: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', 'sans-serif';

        .left {
            height: 100vh;
            background-color: #EB5757;
        }

        .message {
            height: 100vh;
            .header {
            margin-left: 95px;
                h3 {
                    margin-top: 220px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #021F55;
                }
                p {
                    margin-top: 29px;
                    width: 356px;
                    height: 34px;
                    font-size: 14px;
                    line-height: 17px;
                    color: #1B2228;
                }
            }
            .forms {
            margin-left: 95px;
                label {
                    width: 122px;
                    height: 15px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #1B2228;
                }
                input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 9px 12px;
                    width: 320px;
                    height: 38px;
                    border: 1px solid #E1E7EA;
                    border-radius: 3px;
                    font-size: 13px;
                    line-height: 20px;
                }
                button {
                    font-size: 13px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 320px;
                    height: 32px;
                    margin-top: 29px;
                    background-color: #2d81f7;
                    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
                    border-radius: 4px;
                }
                h5 {
                    font-size: 12px;
                    line-height: 24px;
                    margin-top: 19px;
                    // text-align: center;
                    color: #2d81f7;
                    cursor: pointer;
                }
            }
        }
    }
}