<div class="mainarea">
    <div class="row">
        <div class="col-6 left"></div>
        <div class="col-6 message">
            <div class="header">
                <h3>Forgot your password</h3>
                <p>Please enter the email address you'd like your password reset information sent to</p>
            </div>
            <div class="forms">
                <label for="email">Enter email address</label>
                <input [(ngModel)]="email" type="email" placeholder="Email" name="email" id="email">

                <button (click)="requestLink()">Request Reset Link</button>

                <h5 (click)="login()">Back to Login</h5>
            </div>

        </div>
    </div>