.logo {
     height: 100vh;
img {
    // background: url("../../assets/Screenshot\ 2022-09-24\ at\ 4.24\ 1.svg");
    position: absolute;
    width: 513px;
    height: 518px;
     margin-top: 122px;
    margin-left: 82px;
}
    
}