<div class="row mainarea">
    <div class="col-6 logo">
        <img src="../../assets/Screenshot 2022-09-24 at 4.24 1.svg" alt="">
    </div>
    <div class="col-6 forms">
        <div class="header">
            <h3>Hello, Welcome</h3>
            <p>Enter to digital learning</p>
        </div>
        <div class="detailsForm">
            <label for="orgname">Org name</label><br>
            <input type="text" placeholder="name" name="orgname" id=""><br>

            <label for="email">Email</label><br>
            <input type="email" placeholder="Email" name="email" id=""><br>

            <label for="password">Password</label><br>
            <input type="password" placeholder="Password" name="password" id=""><br>

            <label for="mobilenumber">Mobile Number</label><br>
            <input type="text" placeholder="Mobile Number" name="mobilenumber" id=""><br>

            <button type="button" (click)="createAccount()">CREATE ACCOUNT</button><br>


            <p>Already Have an Account? &nbsp;<a href="">Login</a></p>
        </div>
    </div>
</div>