/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.pi-user:before {
    content: "\e939";
}
.powerIcon{
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 0.5rem;
}